.home {
  background: url("/images/firstbackground.jpg") no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
  z-index: 10;
}

.home-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #ffffff;
  z-index: 6;

  h1 {
    font-family: "League Spartan", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    width: fit-content;
    margin-bottom: 10px;
    line-height: 38px;
    font-size: 42px;
    transition: all 0.3s ease;

    &:hover {
      color: rgb(66, 184, 253);
    }

    @media only screen and (min-width: 700px) {
      margin-bottom: 10px;
      font-size: 58px;
      line-height: 52px;
    }
    @media only screen and (min-width: 900px) {
      margin-bottom: 20px;
      line-height: 66px;
      font-size: 78px;
    }
  }

  h3 {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.14rem;
    width: fit-content;
    position: relative;
    margin-bottom: 30px;
    transition: all 0.3s ease;

    &:hover {
      color: rgb(66, 184, 253);
    }
  }
  .home-content-main {
    padding-left: 80px;
    @media screen and (min-width: 1000px) {
      padding-left: 60px;
    }
    @media screen and (max-width: 540px) {
      padding-left: 0px;
      padding-top: 70px;
      width: 330px;
      display: flex;
      flex-direction: column;
    }
  }
}

.home-content-main {
  width: 1000px;
  margin: 0 auto;
}

.buttons {
  @media screen and (max-width: 540px) {
    display: flex;
    justify-content: space-between;
  }
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 20px;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  position: relative;
  border: 3px solid #ffffff;
  transition: all 0.5s ease;
  &:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  @media screen and (max-width: 540px) {
    padding: 10px 10px;
    margin-right: 0;
  }
}
.icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.35s ease 0.75s;
  z-index: 7;
  li {
    margin: 15px 0;
  }
  @media screen and (max-width: 540px) {
    padding-top: 30px;
    flex-direction: row;
    position: relative;
    top: 0;
    justify-content: center;
    right: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    li {
      margin: 0 15px;
    }
  }
}
