.home {
  position: relative;
  background: url("/images/Firstbackground.jpg") no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
  z-index: 2;
}
.name-logo {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.3;
  z-index: 4;

  img {
    width: 495px;
    height: 100%;
    @media screen and (min-width: 1400px) {
      width: 600px;
    }
  }
  @media screen and (max-width: 640px) {
    img {
      display: none;
    }
  }
  @media screen and (min-width: 1400px) {
    top: 35%;
  }
}

.home-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #ffffff;
  z-index: 6;

  h1 {
    font-family: "League Spartan", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    width: fit-content;
    margin-bottom: 10px;
    font-size: 54px;
    line-height: 52px;
    transition: all 0.3s ease;

    &:hover {
      color: rgb(66, 184, 253);
    }

    @media only screen and (min-width: 700px) {
      margin-bottom: 10px;
      font-size: 58px;
      line-height: 52px;
    }
    @media only screen and (min-width: 900px) {
      margin-bottom: 20px;
      line-height: 66px;
      font-size: 92px;
    }
  }

  h3 {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.14rem;
    width: fit-content;
    position: relative;
    margin-bottom: 30px;
    transition: all 0.3s ease;

    &:hover {
      color: rgb(66, 184, 253);
    }
  }
  .home-content-main {
    padding-left: 80px;
    @media screen and (min-width: 1200px) {
      padding-left: 0px;
    }
    @media screen and (max-width: 540px) {
      padding-left: 0px;
      padding-top: 70px;
      width: 330px;
      display: flex;
      flex-direction: column;
      text-align: -webkit-center;
    }
  }
}

.home-content-main {
  width: 1000px;
  margin: 0 auto;
}

.buttons {
  @media screen and (max-width: 540px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 360px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 20px;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  position: relative;
  border: 3px solid #ffffff;
  transition: all 0.5s ease;
  &:hover {
    border: 3px solid #27719b;
    background-color: rgb(66, 184, 253);
    color: black;
  }
  @media screen and (max-width: 540px) {
    padding: 10px 10px;
    margin-right: 0;
  }
  @media screen and (max-width: 360px) {
    width: 160px;
    margin-bottom: 12px;
  }
  @media screen and (max-width: 281px) {
    margin-right: 50px;
  }
}

.icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  right: 2%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 7;
  a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #e5e6f7;
    &:hover {
      color: rgb(66, 184, 253);
    }
  }
  li {
    margin: 15px 0;
    @media screen and (min-width: 900px) {
      .icon-size {
        width: 55px;
        height: 55px;
      }
    }
  }

  @media screen and (max-width: 540px) {
    padding-top: 30px;
    flex-direction: row;
    position: relative;
    top: 0;
    justify-content: center;
    right: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    li {
      margin: 0 15px;
    }
  }
  @media screen and (max-width: 281px) {
    right: 7%;
  }
}
