.contact-text {
  background-color: #252934;
  padding-top: 140px;
  padding-left: 75px;
  padding-right: 75px;
  h2 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  p {
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    font-size: 18px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: #252934;
  padding-bottom: 65px;
  padding-top: 20px;
  @media screen and (max-width: 599px) {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  form {
    padding-bottom: 75px;
  }

  label {
    color: #fff;
  }

  .form-padding {
    margin-top: 8px;
    margin-bottom: 15px;
  }
}
.inputs {
  color: #fff;
  background-color: #1b242f;
  padding: 7px 9px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
  @media only screen and (max-width: 599px) {
    width: 345px;
  }
  @media only screen and (min-width: 600px) {
    width: 370px;
  }
  @media only screen and (min-width: 768px) {
    width: 500px;
  }
  input[type="email"],
  select,
  textarea {
    font-size: 16px;
    border-width: 0;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
}
textarea {
  font-size: 40px;
}

input[type="submit"] {
  border: 3px solid #fff;
  background-color: #252934;
  display: inline-block;
  margin-right: 16px;
  padding: 10px 20px;
  width: 100%;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  border: 3px solid #ffffff;
  transition: all 0.5s ease;
  &:hover {
    border: 3px solid #27719b;
    background-color: rgb(66, 184, 253);
    color: black;
  }
}

input:focus,
textarea:focus {
  transition: 0.4s ease;
  outline: none !important;
  border: 1px solid #3cefff;
}
