.contact-text {
  background-color: #252934;
  padding-top: 80px;
  padding-left: 75px;
  padding-right: 75px;
  h2 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  p {
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    font-size: 18px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: #252934;
  padding-bottom: 20px;
  padding-top: 20px;
  @media screen and (max-width: 599px) {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  form {
    padding-bottom: 75px;
  }

  label {
    font-size: 18px;
    color: #fff;
    font-family: "League Spartan", Helvetica, Arial, sans-serif;
    font-weight: 800;
  }

  .form-padding {
    margin-top: 8px;
    margin-bottom: 15px;
  }
}
.inputs {
  background-color: #252934;
  padding: 7px 9px;
  border: 0;
  color: white;
  border-bottom: 2px solid white;
  border-radius: 0;
  transition: all 0.4s ease;
  &:focus {
    background-color: #252934;
  }

  @media only screen and (max-width: 599px) {
    width: 345px;
  }
  @media only screen and (min-width: 600px) {
    width: 370px;
  }
  @media only screen and (min-width: 768px) {
    width: 500px;
  }
}
textarea {
  font-size: 16px;
}

.btn1 {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  position: relative;
  outline: none !important;
  border-radius: 2px;
  border: 3px solid #fff;
  transition: all 0.4s ease;

  .button-text {
    position: relative;
    font-size: 18px;
    z-index: 25;
  }

  &:hover {
    border: 3px solid #27719b;
    color: black;
  }

  &:after {
    z-index: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(66, 184, 253);
    transition: all 0.4s ease;
  }

  &:hover:after {
    top: 0;
    height: 100%;
  }
}

input:focus,
textarea:focus {
  outline: none !important;
}
