.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 72px;
  width: 100%;
  background-color: black;
  // background-color: #252934;
  z-index: 900;
  transition: all 0.4s ease;
  @media screen and (min-width: 1150px) {
    padding: 0 60px;
  }
  @media screen and (min-width: 1300px) {
    padding: 0 170px;
  }
  @media screen and (min-width: 1550px) {
    padding: 0 300px;
  }
}

.navbar-items > .active {
  color: rgb(66, 184, 253);
}

.logo {
  height: 55px;
  img {
    width: 105px;
    height: 100%;
  }
}

.navbar-items {
  display: flex;
  list-style: none;
  color: #e5e6f7;
  align-items: center;
  height: 72px;

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 72px;
    right: -110%;
    opacity: 1;
    a {
      padding: 2.3rem;
    }
  }

  a {
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
  }
}

.navbar-items.active {
  background-color: black;
  right: 0px;
  transition: all 0.4s ease;
  z-index: 850;

  a {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }
}

.icons-navbar {
  margin-top: 215px;
  display: none;
  a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #e5e6f7;
    &:hover {
      color: rgb(66, 184, 253);
    }
  }
  @media screen and (max-width: 900px) {
    display: block;

    display: flex;
    flex-direction: row;
    justify-content: center;
    top: -100px;
    right: 0%;
    list-style: none;
    cursor: pointer;
    z-index: 930;
  }
}

.burger-icon {
  display: none;
  z-index: 2;
  color: white;

  @media screen and (max-width: 900px) {
    display: block;
    margin-top: 2px;
    cursor: pointer;
    z-index: 920;
  }
}
