#contact-id {
  height: 100vh;
  background-color: #191a22;
  z-index: -20;
}

.contact {
  z-index: 50;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 90%;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 55%);

  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }
  @media only screen and (max-width: 1030px) {
    width: 95%;
  }
  @media only screen and (max-width: 850px) {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    .contact-submit {
      width: 100%;
    }
    .contact-about {
      width: 100%;
    }
    .submit-text {
      padding-top: 10px;
    }
    .back-icon {
      top: 15px;
    }
    .contact-text2 {
      padding-top: 20px;
    }
  }
}

.contact-submit {
  position: relative;
  width: 50%;
  z-index: 20;
  background-color: #1c1d25;
}

.big-text2 {
  bottom: -30px;
  right: -220px;
  color: #fff;
  opacity: 0.04;
  font-size: 235px;
  position: absolute;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  font-weight: 700;
  z-index: 0;
}

.submit-text {
  padding-top: 75px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.back-icon {
  position: absolute;
  display: block;
  top: 70px;
  right: 65px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 10;
}

.contact-text {
  padding-top: 20px;
  margin: 0 auto;
  transition: all 0.3s ease;
  width: 100%;

  h2 {
    font-size: 28px;
    color: #fff;
  }
  p {
    font-style: italic;
    font-weight: 500;
    color: #fff;

    font-size: 14px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;

  form {
    width: 100%;
    padding-bottom: 31px;
  }

  label {
    font-size: 14px;
    color: #fff;
    font-family: "League Spartan", Helvetica, Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .form-padding {
    width: 100%;
    margin-bottom: 10px;
  }
}
.inputs {
  width: 100%;
  background-color: #1c1d25;
  padding: 5px 9px;
  border: 0;
  outline: none;
  color: white;
  border-bottom: 2px solid white;
  border-radius: 0;
  transition: all 0.4s ease;
  &:focus {
    background-color: #1c1d25;
    border-bottom: 2px solid rgb(66, 184, 253);
  }
  &:hover {
    border-bottom: 2px solid rgb(66, 184, 253);
  }
}
textarea {
  font-size: 16px;
}

.btn1 {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  width: 100%;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  position: relative;
  outline: none !important;
  border-radius: 2px;
  border: 3px solid #fff;
  transition: all 0.4s ease;

  .button-text {
    position: relative;
    font-size: 18px;
    z-index: 25;
  }

  &:hover {
    border: 3px solid #27719b;
    color: black;
  }

  &:after {
    z-index: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(66, 184, 253);
    transition: all 0.4s ease;
  }

  &:hover:after {
    top: 0;
    height: 100%;
  }
}

.contact-about {
  position: relative;
  width: 50%;
  background-color: #ebebeb;
  z-index: 10;
}

.big-text {
  top: -45px;
  left: 100px;
  color: #4a4a4a;
  font-size: 235px;
  position: absolute;
  opacity: 0.07;
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  font-weight: 700;
  z-index: 0;
}

.about-text {
  padding-top: 30px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.contact-text2 {
  padding-top: 130px;
  margin: 0 auto;
  transition: all 0.3s ease;

  h2 {
    font-size: 28px;
    color: #1c1d25;
  }
  .p-text2 {
    font-style: italic;
    font-weight: 500;
    color: #1c1d25;

    font-size: 14px;
  }
}

.about-me-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  strong {
    color: #2974a0;
  }
}

.about-me-list {
  padding-top: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 360px;
  margin: 0 auto;
  padding-bottom: 31px;
  transition: all 0.3s ease-in;
  li {
    width: 24.5%;
  }

  .icon1 {
    padding-bottom: 10px;
  }

  h3 {
    color: #1c1d25;
    font-family: "League Spartan", Helvetica, Arial, sans-serif;
    font-weight: 800;
  }
}

.spancss {
  svg {
    width: 50px;
    height: 60px;
  }
}

.icon-html5 {
  color: #1c1d25;
  &:hover {
    color: #e34f26;
    transition: all 0.3s ease-out;
  }
}
.icon-css3 {
  color: #1c1d25;
  &:hover {
    color: #1572b6;
    transition: all 0.3s ease-out;
  }
}
.icon-javascript {
  color: #1c1d25;
  &:hover {
    color: #f7df1e;
    transition: all 0.3s ease-out;
  }
}
.icon-react {
  color: #1c1d25;
  &:hover {
    color: #61dafb;
    transition: all 0.3s ease-out;
  }
}
.icon-git {
  color: #1c1d25;
  &:hover {
    color: #f05032;
    transition: all 0.3s ease-out;
  }
}
.icon-github {
  color: #1c1d25;
  &:hover {
    color: #2d333b;
    transition: all 0.3s ease-out;
  }
}
.icon-npm {
  color: #1c1d25;
  &:hover {
    color: #cb3837;
    transition: all 0.3s ease-out;
  }
}
.icon-vscode {
  color: #1c1d25;
  &:hover {
    color: #007acc;
    transition: all 0.3s ease-out;
  }
  // #007ACC
}
.icon-sass {
  color: #1c1d25;
  &:hover {
    color: #cf649a;
    transition: all 0.3s ease-out;
  }
}
