.home {
  position: relative;
  background-position: 50% 100%;
  background-size: cover;
  background-color: #161616;
  height: 100vh;
  z-index: 2;
}
.name-logo {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, 0);

  z-index: 4;

  img {
    width: 495px;
    height: 100%;
    opacity: 0.2;
    @media screen and (min-width: 1000px) {
      width: 680px;
      height: 360px;
    }
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
  @media screen and (min-width: 1000px) {
    top: 31%;
  }
}

.home-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #ffffff;
  z-index: 6;

  h1 {
    font-family: $ff1;
    font-weight: 600;
    letter-spacing: 2px;
    width: fit-content;
    line-height: 23rem;
    font-size: 25rem;
    transition: all 0.3s ease;
  }

  h3 {
    font-size: 5.5rem;
    font-family: $ff2;
    font-weight: 100;
    letter-spacing: 0.14rem;
    width: fit-content;
    position: relative;
    margin-bottom: 30px;
    transition: all 0.3s ease;
  }
  .home-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    text-align: -webkit-center;
    @media screen and (max-width: 540px) {
      width: 340px;
      display: flex;
      flex-direction: column;

      .btn {
        width: 100%;
      }
    }
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: $ff1;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  position: relative;
  outline: none !important;
  border-radius: 2px;
  border: 3px solid #fff;
  transition: all 0.4s ease;

  &:after {
    z-index: -2;
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(66, 184, 253);
    transition: all 0.4s ease;
  }

  &:hover:after {
    top: 0;
    height: 100%;
  }
  &:hover {
    border: 3px solid #27719b;
    color: black;
  }
  &:focus:after {
    top: 0;
    height: 100%;
  }
  &:focus {
    border: 3px solid #27719b;
    color: black;
  }

  @media screen and (max-width: 540px) {
    padding: 10px 10px;
    margin-right: 0;
  }
  @media screen and (max-width: 360px) {
    width: 160px;
    margin-bottom: 12px;
  }
  @media screen and (max-width: 281px) {
    margin-right: 50px;
  }
}

.icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  right: 2%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 7;
  a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: $primary;
    &:hover {
      color: rgb(66, 184, 253);
    }
  }
  li {
    margin: 15px 0;
    .icon-size {
      width: 40px;
      height: 40px;
    }
    @media screen and (min-width: 900px) {
      .icon-size {
        width: 60px;
        height: 60px;
      }
    }
  }

  @media screen and (max-width: 540px) {
    padding-top: 30px;
    flex-direction: row;
    position: relative;
    top: 0;
    justify-content: center;
    right: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    li {
      margin: 0 15px;
    }
  }
  @media screen and (max-width: 281px) {
    right: 7%;
  }
}
