.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  height: 100px;
  width: 100%;
  background-color: transparent;
  z-index: 800;
  transition: all 0.4s ease;
  @media screen and (min-width: 1150px) {
    padding: 0 6rem;
  }
  @media screen and (min-width: 1300px) {
    padding: 0 11rem;
  }
}

.navbar.active {
  background-color: rgba(0, 0, 0, 0.95);
}
.navbar-items > .active {
  color: rgb(66, 184, 253);
}

.logo {
  z-index: 950;
  height: 55px;
  cursor: pointer;
  img {
    width: 105px;
    height: 100%;
  }
}

.navbar-items {
  display: flex;
  list-style: none;
  color: $primary;
  align-items: center;
  height: 100px;

  .span-contact {
    color: $primary;
  }

  @media screen and (max-width: 740px) {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 110px;
    height: 100vh;
    width: 100%;
    top: 0px;
    right: -110%;
    opacity: 1;
    transition: all 0.4s ease;

    a {
      margin: 5rem;
    }
  }

  a {
    span {
      font-family: $ff4;
      font-size: 22px;
      letter-spacing: 1.6px;
    }
    text-decoration: none;
    margin-right: 4rem;
    margin-left: 4rem;
    padding-right: 2px;
    padding-left: 2px;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.4s ease;

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      top: 27px;
      right: 0;
      direction: ltr;
      z-index: -1;
      background-color: rgb(255, 255, 255);
      transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
    }

    &:hover:before {
      left: 0;
      width: 100%;
    }

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      top: 27px;
      right: 0;
      direction: ltr;
      z-index: -1;
      background-color: rgb(66, 184, 253);
      transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
    }

    &:hover:after {
      left: 0;
      width: 100%;
    }

    &:hover {
      color: rgb(66, 184, 253);
    }
  }
}

.navbar-items.active {
  right: 0px;
  transition: all 0.4s ease;
  z-index: 750;

  a {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }
  @media screen and (max-width: 740px) {
    background-color: black;
  }
}

.icons-navbar {
  margin-top: 150px;
  display: none;
  a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: $primary;
    &:hover {
      color: rgb(66, 184, 253);
    }
  }
  @media screen and (max-width: 740px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    z-index: 930;
  }
}

.burger-icon {
  display: none;
  z-index: 2;
  color: white;

  @media screen and (max-width: 740px) {
    display: block;
    margin-top: 2px;
    cursor: pointer;
    z-index: 920;
  }
}

.span-resume {
  text-decoration: none;
  color: $primary;
}
