@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "League Spartan";
  src: url(./fonts/LeagueSpartan-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "League Spartan";
  src: url(./fonts/LeagueSpartan-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: "League Spartan";
  src: url(./fonts/LeagueSpartan-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "League Spartan";
  src: url(./fonts/LeagueSpartan-SemiBold.otf);
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 3px;
}
